# Configuración de correo electrónico
EMAIL_HOST=mail.ingmayracastillo.com
EMAIL_PORT=465
EMAIL_USER=email@ingmayracastillo.com
EMAIL_PASS=tu-contraseña-segura

# Configuración de la API (opcional)
VITE_API_URL=/api
